# luckydonald-utils
-e git://github.com/luckydonald/python-utils.git@10e9b79e22f2fc805db80f16c382fb05d317ba88#egg=luckydonald-utils

# DictObject
DictObject>=0.1.3

# flask
flask

# pytgbot
-e git://github.com/luckydonald/pytgbot.git@40b71dcd5e844ff0cce0f6182344f59c2805ef4a#egg=pytgbot_40b71d

# teleflask
-e git://github.com/luckydonald/teleflask.git@652cd1008f4b335b905599c4b4dd577d6e8f6a94#egg=teleflask_652cd1

# raven[flask]
raven[flask]

# emoji
emoji

# pymongo
pymongo

