# uwsgi
uwsgi

# flask
flask==1.1.2

# teleflask
-e git://github.com/luckydonald/teleflask.git@cb541317bd9794178484590a83f236744209c16d#egg=teleflask_cb5413

# telestate
-e git://github.com/luckydonald/telestate@df6e1cfe84275b58b61e3d99fbfc908393f04feb#egg=telestate_df6e1c

# pytgbot
pytgbot==4.9.1

# luckydonald-utils
-e git://github.com/luckydonald/python-utils.git@8b6586498b6fa77112d9559a7cf3e294466b5a71#egg=luckydonald-utils

# typeguard
typeguard==2.7.1

