# uwsgi
uwsgi

# flask
flask

# teleflask
-e git://github.com/luckydonald/teleflask.git@652cd1008f4b335b905599c4b4dd577d6e8f6a94#egg=teleflask_652cd1

# pytgbot
pytgbot==4.6.2

# luckydonald-utils
-e git://github.com/luckydonald/python-utils.git@10e9b79e22f2fc805db80f16c382fb05d317ba88#egg=luckydonald-utils

